header {
  padding: 1rem;
  color: black;
  // background-color: rgb(255, 255, 255);

  .wrapper {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search {
    height: 2.2rem;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-style: none;
    border: 1px solid #ccc;
    padding-left: 0.5rem;
    margin-right: 0.25rem;
    font-size: 1.1rem;
    font-family: Kameron;
  }

  .fa-search {
    color: rgb(87, 87, 87);
    font-size: 1.4rem;
  }

  .container__searchContainer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    margin: 0rem 2rem;
    @media (max-width: 800px) {
      display: none;
    }
  }

  .wrapper__searchContainer {
    @media (max-width: 800px) {
      display: flex;
    }
    margin: 0.75rem 0rem 0rem 0rem;
    display: none;
    align-items: center;
  }

  .icons {
    display: flex;

    a {
      font-family: Kameron;
      font-size: 1.1rem;
      color: rgb(29, 29, 29);
      text-decoration: none;
      text-align: center;
      font-weight: bold;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    a:last-of-type {
      margin-left: 0.5rem;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .icon {
    max-height: 30px;
    margin: 0.3rem 0.5rem;
  }
}
