* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfair display, Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: #441b03;
  color: white;
  padding: 1rem;
}
nav .wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-content: center;
}
nav ul {
  display: block;
  list-style: none;
  font-size: 1.25rem;
}
nav ul li {
  font-weight: 500;
  display: inline-block;
  margin: 0rem 0.5rem;
}
nav ul a:hover {
  text-decoration: underline;
}
nav a {
  color: white;
  text-decoration: none;
  flex: 0 0 auto;
}
nav .nav__link--active {
  text-decoration: underline;
  padding: 0.25rem;
}

header {
  padding: 1rem;
  color: black;
}
header .wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .search {
  height: 2.2rem;
  width: 100%;
  background-color: #f0f0f0;
  border-style: none;
  border: 1px solid #ccc;
  padding-left: 0.5rem;
  margin-right: 0.25rem;
  font-size: 1.1rem;
  font-family: Kameron;
}
header .fa-search {
  color: #575757;
  font-size: 1.4rem;
}
header .container__searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  margin: 0rem 2rem;
}
@media (max-width: 800px) {
  header .container__searchContainer {
    display: none;
  }
}
header .wrapper__searchContainer {
  margin: 0.75rem 0rem 0rem 0rem;
  display: none;
  align-items: center;
}
@media (max-width: 800px) {
  header .wrapper__searchContainer {
    display: flex;
  }
}
header .icons {
  display: flex;
}
header .icons img {
  display: block;
  margin: 0 auto;
}
header .icons a {
  font-family: Kameron;
  font-size: 1.1rem;
  color: #1d1d1d;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
header .icons a:last-of-type {
  margin-left: 0.5rem;
}
header .icons a:hover {
  text-decoration: underline;
}
header .logo {
  height: 50px;
  width: 50px;
}
header .icon {
  max-height: 30px;
  margin: 0.3rem 0.5rem;
}

main {
  padding: 2rem 1rem;
  min-height: 100vh;
}
main .wrapper {
  max-width: 90%;
  margin: 0 auto;
}
main h1 {
  margin: 0rem 0rem 1rem 0rem;
}

.banner {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  filter: saturate(1.2);
  display: flex;
  flex-direction: column;
}
.banner p {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 0.5rem;
}
.banner .banner__container {
  margin: 5rem;
}

.cta-1 {
  background-color: #fff4c2;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  border: 1px solid black;
}
.cta-1:hover {
  background-color: #ffeb8f;
}

.productsContainer {
  display: flex;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .productsContainer {
    flex-direction: column;
  }
}
.productsContainer a {
  text-decoration: none;
  color: inherit;
}
.productsContainer .product {
  border: 1px solid #ccc;
  margin-right: 1rem;
}
.productsContainer .product__image {
  max-height: 200px;
  display: flex;
  justify-content: center;
}
.productsContainer .product__info {
  text-align: center;
}
.productsContainer .product__info p:first-of-type {
  font-family: "Lusitana";
}
.productsContainer .product__info p {
  font-family: "Lusitana";
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.2rem 0rem;
}
.productsContainer .product__bottomContainer {
  background-color: #ececec;
  padding: 1rem;
}
.productsContainer .product__buttons {
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid black;
}
.productsContainer .product__buttons p {
  margin-right: 1rem;
  font-family: "Merriweather";
}
.productsContainer .product__buttons img {
  max-height: 30px;
}

footer {
  background-color: #441b03;
}
footer .wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.25rem;
  padding: 2rem 0rem;
}
@media (max-width: 520px) {
  footer .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .wrapper p {
    margin-bottom: 1rem;
  }
}
footer i {
  margin-right: 1rem;
  cursor: pointer;
}

.detailsContainer {
  display: flex;
}
@media (max-width: 880px) {
  .detailsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.detailsContainer .detailsContainer__container {
  width: 50%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 880px) {
  .detailsContainer .detailsContainer__container {
    width: 100%;
  }
}
.detailsContainer .detailsContainer__container p {
  font-family: Kameron;
  font-size: 1.25rem;
}
.detailsContainer .detailsContainer__container:last-of-type {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 2px #ccc;
}
.detailsContainer .details__image {
  max-height: 500px;
  margin: 0 auto;
}
@media (max-width: 880px) {
  .detailsContainer .details__image {
    width: 100%;
    object-fit: contain;
  }
}
.detailsContainer .review {
  margin: 1rem 0rem;
}
.detailsContainer .review .fa-star {
  color: orange;
  font-size: 1.25rem;
}
.detailsContainer .priceContainer {
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
}
.detailsContainer .priceContainer p {
  font-family: Kameron;
  font-size: 1.25rem;
  margin-right: 1rem;
  font-weight: bold;
}
.detailsContainer .priceContainer .price {
  text-decoration: line-through;
}
.detailsContainer .priceContainer .price--sale {
  text-decoration: none;
  color: #e20404;
  font-size: 1.5rem;
}
.detailsContainer .stockContainer {
  display: flex;
  align-items: center;
}
.detailsContainer .stockContainer .stock {
  color: #6e6e6e;
  margin-right: 0.5rem;
}
.detailsContainer .stockContainer .fa-check {
  color: green;
}
.detailsContainer select {
  margin: 0.5rem 0rem;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0.5rem;
  border-style: none;
  font-size: 1.25rem;
  font-family: Kameron;
}
.detailsContainer .buttonContainer {
  display: flex;
}
@media (max-width: 880px) {
  .detailsContainer .buttonContainer {
    margin: 1rem 0rem;
  }
}
.detailsContainer .buttonContainer .addToCart {
  height: 3rem;
  width: 100%;
  margin-left: 0.5rem;
  border: none;
  background-color: #1c945c;
  font-size: 1.5rem;
  color: white;
  font-family: Lusitana;
  cursor: pointer;
}
.detailsContainer .buttonContainer .addToCart:hover {
  background-color: #24bf77;
}
.detailsContainer .buttonContainer #quantity::-webkit-outer-spin-button,
.detailsContainer .buttonContainer #quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.detailsContainer .buttonContainer input[type=number] {
  -moz-appearance: textfield;
}
.detailsContainer .inputContainer {
  display: flex;
}
.detailsContainer .inputContainer .inputContainer__buttons {
  display: flex;
  flex-direction: column;
}
.detailsContainer .inputContainer .inputContainer__buttons button {
  height: 1.5rem;
  border-style: none;
  width: 1.5rem;
  font-size: 1rem;
}
.detailsContainer #quantity {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.breadcrumbs {
  color: #757474;
}

h1 {
  font-size: 2rem;
}

/*# sourceMappingURL=styles.css.map */
